# //prefix: "tfvmex"

resource_group:
  name: "${prefix}-resources"
  location: "West Europe"

virtual_network:
  name: "${prefix}-network"
  address_space: ["10.0.0.0/16"]
  location: "${resource_group.location}"
  resource_group_name: "${resource_group.name}"

subnet:
  name: "internal"
  resource_group_name: "${resource_group.name}"
  virtual_network_name: "${virtual_network.name}"
  address_prefixes: ["10.0.2.0/24"]

network_interface:
  name: "${prefix}-nic"
  location: "${resource_group.location}"
  resource_group_name: "${resource_group.name}"
  ip_configuration:
    name: "testconfiguration1"
    subnet_id: "${subnet.id}"
    private_ip_address_allocation: "Dynamic"

virtual_machine:
  name: "${prefix}-vm"
  location: "${resource_group.location}"
  resource_group_name: "${resource_group.name}"
  network_interface_ids: ["${network_interface.id}"]
  vm_size: "Standard_DS1_v2"
  storage_image_reference:
    publisher: "Canonical"
    offer: "0001-com-ubuntu-server-jammy"
    sku: "22_04-lts"
    version: "latest"
  storage_os_disk:
    name: "myosdisk1"
    caching: "ReadWrite"
    create_option: "FromImage"
    managed_disk_type: "Standard_LRS"
  os_profile:
    computer_name: "hostname"
    admin_username: "testadmin"
    admin_password: "Password1234!"
  os_profile_linux_config:
    disable_password_authentication: false
  tags:
    environment: "staging"
